body {
  font-family: 'Open Sans', sans-serif;
  width: 100%;
}

a {
  display: flex;
  flex-wrap: wrap;
}

header {
  background: #2F2235;
  width: 100%;
  display: grid;
  grid-template-columns: 50% 50%;
}

.header-left {
  display: flex;
  justify-content: flex-start;
  margin: 20px 0 20px 60px;
}

.title {
  color: #F2F2F2;
  font-size: 40px;
  font-weight: 300;
}

.title span {
  color: #34D1D1;
}

.header-hr {
  display: none;
}

.header-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 80px;
}

.my-name {
  color: #F2F2F2;
  font-size: 30px;
  font-weight: 600;
}

.header {
  display: grid;
  grid-template-columns: 300px calc(100% - 300px);
  margin: 60px;
}

.header-title {
  font-size: 30px;
  display: inline-block;
}

.hr-container {
  width: 100%;
  padding-top: 5px;
}

main {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

button {
  outline: none;
}

.accordion-container {
  width: 90%;
}

.tabs {
  display: flex;
  flex-wrap: wrap;
}

.tabs label {
  order: 1;
  display: block;
  text-align: center;
  width: calc(25% - 1.3px);
  padding: 10px 0 10px 0;
  cursor: pointer;
  font-size: 30px;
  font-weight: 300;
  background: #F2F2F2;
  transition: background ease 0.2s;
  border-bottom: 1px solid #D1D2D3;
  border-right: 1px solid white;
}

.tabs .tab {
  order: 99;
  flex-grow: 1;
  width: 80%;
  border: 1px solid #D1D2D3;
  border-top: none;
  display: none;
  background: none;
}

.tabs input[type="radio"] {
  position: absolute;
  opacity: 0;
}

.tabs input[type="radio"]:checked + label {
  background: none;
  border: 1px solid #D1D2D3;
  border-bottom: none;
}

.tabs input[type="radio"]:checked + label + .tab { 
  display: block;
}

.tab-content {
  display: flex;
  padding: 20px 40px 20px 20px;
}

.view-code-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.view-code-button {
  margin: 80px;
  height: 50px;
  width: 400px;
  background: #2F2235;
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  font-weight: 300;
  text-decoration: none;
  display: flex;
  justify-items: center;
  align-items: center;
}

.code-display {
  display: none;
}

.image-container1 {
  height: 400px;
  width: 400px;
  margin-right: 5%;
  background-image: url('images/tab1.png');
  background-size: cover;
}

.content-title {
  width: 100%;
  font-weight: 600;
  font-size: 30px;
  margin-bottom: 20px;
}

.content-text {
  width: calc(100% - 500px);
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}

.content-text p {
  border-top: 1px solid #2F2235;
  font-size: 140%;
  margin-top: 20px;
  padding-top: 20px;
}

.image-container2 {
  background-image: url('images/tab2.png');
  height: 400px;
  width: 400px;
  background-size: cover;
}

.image-container3 {
  background-image: url('images/tab3.png');
  height: 400px;
  width: 400px;
  background-size: cover;
}

.image-container4 {
  background-image: url('images/tab4.png');
  height: 400px;
  width: 400px;
  background-size: cover;
}

.cards-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.grid-layout {
  width: 100%;
  height: 1200px;
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: 33% 33% 33%;
}

.card1 {
  grid-column: 1 / 3;
  grid-row: 1 / 2;
}

.card2 {
  grid-column: 3 / 4;
  grid-row: 1 / 2;
}

.card {
  display: grid;
  grid-template-rows: 20% 80%;
  margin: 10px;
  border: 1px solid #D1D2D3;
}

.card3 {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

.card4 {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

.card5 {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
}

.card6 {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
}

.card7 {
  grid-column: 2 / 4;
  grid-row: 3 / 4;
}

.card-title-container {
  height: 100%;
  display: flex;
  align-items: center;
}

.card-title {
  font-weight: 600;
  font-size: 140%;
  padding-left: 2%;
}

.image-container {
  height: 100%;
  width: 100%;
  background-size: cover;
}

.image1 {
  background-image: url('images/card1.png');
}

.image2 {
  background-image: url('images/card2.png');
}

.image3 {
  background-image: url('images/card3.png');
}

.image4 {
  background-image: url('images/card4.png');
}

.image5 {
  background-image: url('images/card5.png');
}

.image6 {
  background-image: url('images/card6.png');
}

.image7 {
  background-image: url('images/card7.png');
}

.navbar-container {
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navbar {
  width: 950px;
  height: 100px;
  display: flex;
  align-items: center;
  background: #D1D2D3;
}

#navbar-button {
  margin-left: 20px;
  width: 60px;
  height: 60px;
  padding: 0;
  background: none;
  border: none;
}

.navbar-button {
  height: 60px;
  width: 60px;
  border-radius: 50%;
}

.menu {
  display: none;
}

.nav-links {
  display: flex;
  align-items: center;
}

.nav-link {
  margin: 20px;
  font-size: 120%;
  text-decoration: none;
  color: #666666;
}

.search-bar {
  margin: 20px;
  display: flex;
  align-items: center;
  height: 40px;
  width: 250px;
  border: 1px solid #666666;
  background-color: #F2F2F2;
}

.search-icon {
  height: 25px;
  width: auto;
  margin: 0 10px 0 10px;
}

.searchbar-input {
  height: 90%;
  width: 80%;
  border: none;
  background: none;
  font-size: 22px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  outline: none;
}

.searchbar-input::placeholder {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
}

.nav-links-mobile {
  display: none;
}

@media only screen and (max-width: 900px) {
  .tab-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .content-text {
    width: 90%;
    margin-bottom: 40px;
  }

  .content-title {
    margin-top: 20px;
  }
}

@media only screen and (max-width: 600px) {
  header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 200px;
  }

  .header-left {
    margin: 0;
  }

  .header-hr {
    display: block;
    width: 30%;
    border: 0;
    height: 1px;
    background: #666666;
  }

  .header-right {
    display: block;
    margin: 0;
  }

  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .hr-container {
    width: 40%;
    margin-top: 40px;
  }

  .tabs {
    width: 100%;
    display: block;
  }

  .tabs label {
    width: 100%;
  }
  
  .tabs .tab {
    width: 100%;
  }

  .tab-content {
    width: 100%;
    padding: 0;
  }
  
  .images {
    height: 300px;
    width: 92%;
    margin: 0;
    margin-top: 20px;
  }

  .grid-layout {
    display: flex;
    flex-direction: column;
    width: 90%;
    height: auto;
  }

  .card {
    height: 400px;
  }

  .navbar {
    width: 90%;
    flex-direction: column;
  }

  .navbar-top {
    height: 100%;
    margin: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
  }

  .menu {
    display: block;
    color: #666666;
  }

  .nav-links {
    display: none;
  }

  .show {
    display: flex;
    flex-direction: column;
    background: #e3e2e2;
    width: 90%;
  }

  .view-code-button {
    width: 50%;
    margin: 0;
  }

  .view-code-container {
    align-items: center;
    width: 100%;
    height: 200px;
  }
}