body {
  font-family: 'Open Sans', sans-serif;
  max-width: 100%;
}

header {
  background: #2F2235;
  width: 100%;
  display: grid;
  grid-template-columns: 50% 50%;
  padding: 20px;
}

.header-left {
  display: flex;
  justify-content: flex-start;
  margin-left: 40px;
}

.title {
  color: #F2F2F2;
  font-size: 40px;
  font-weight: 300;
}

.title span {
  color: #34D1D1;
}

.header-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 80px;
}

.my-name {
  color: #F2F2F2;
  font-size: 30px;
  font-weight: 600;
}

.header {
  display: grid;
  grid-template-columns: 20% 80%;
  padding: 60px;
}

.header-title {
  font-size: 30px;
  display: inline-block;
}

.hr-container {
  padding-top: 5px;
  padding-left: 20px;
}

.accordion-container {
  padding: 0 8% 0 8%;
}

.tabs {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
}

.tabs label {
  grid-row: 1 / 2;
  font-size: 30px;
  font-weight: 300;
  display: block;
  padding: 10px 60px 10px 60px;
  margin: 0 1px 0 0;
  cursor: pointer;
  background: #F2F2F2;
  transition: background ease 0.2s;
}

.tabs .tab {
  grid-row: 2 / 3;
  width: 100%;
  border: 1px solid #D1D2D3;
  order: 99;
  flex-grow: 1;
  display: none;
  padding: 1rem;
  width: 600px;
  width: 100%;
  padding: 20px;
}

.tabs input[type="radio"] {
  position: absolute;
  opacity: 0;
}

.tabs input[type="radio"]:checked + label {
  width: 100%;
  background: none;
  border: 1px solid #D1D2D3;
  border-bottom: none;
}

.tabs input[type="radio"]:checked + label + .tab { 
  display: flex;
  width: 100%;
}

.image-container {
  height: 400px;
  width: 350px;
}